<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>管理者ログイン - TrendGauge</title>
</head>
<body>
<div th:replace="~{layout/index :: layout(~{::title}, ~{::#content})}">
    <main id="content">
        <header th:replace="~{fragments/login-header :: login-header}"></header>
        <div class="col-md-5 mx-auto py-4">

            <div th:if="${errorMessage != null}"
                 class="alert alert-danger text-center"
                 role="alert">
                <span th:text="${errorMessage}"></span>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">管理者ログイン</h4>
                </div>
                <div class="card-body py-5">

                    <form th:action="@{/admin/login}" th:object="${adminLoginInput}" method="post">
                        <div class="col-md-8 mx-auto">
                            <label for="email" class="text-center d-block fs-5 fw-semibold">メールアドレス</label>
                            <p class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            <input
                                    type="text"
                                    class="form-control mb-4 form-control-lg"
                                    name="email"
                                    id="email"
                            />
                        </div>
                        <div class="col-md-8 mx-auto">
                            <label for="password" class="text-center d-block fs-5 fw-semibold">パスワード</label>
                            <p class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                            <input
                                    type="password"
                                    class="form-control mb-4 form-control-lg"
                                    name="password"
                                    id="password"
                            >
                        </div>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-primary w-25 mt-3 btn-lg">
                                ログイン
                            </button>
                        </div>


                    </form>
                </div>
            </div>

        </div>

    </main>

</div>

</body>
</html>