<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ダッシュボード - TrendGauge</title>

</head>
<body>
<div th:replace="~{layout/index :: layout(~{::title}, ~{::#content})}">
    <main id="content">
        <header th:replace="~{fragments/store-header :: store-header}"></header>
        <div class="container py-5">
            <div class="row">

                <div id="button-area" class="col-md-2">
                    <div class="mb-5">
                        <h4 class="text-center mt-3">ランキングを見る</h4>
                        <div class="d-grid gap-2">
                            <button type="button" id="ratio" class="btn btn-primary mt-3 btn-lg tab-button">昨対比
                            </button>
                            <button type="button" id="budget" class="btn btn-primary mt-3 btn-lg tab-button">
                                予算達成率
                            </button>
                        </div>
                    </div>
                    <div>
                        <h4 class="text-center">グラフを見る</h4>
                        <div class="d-grid gap-2">
                            <button type="button" id="sales" class="btn btn-primary mt-3 btn-lg tab-button">売上推移
                            </button>
                            <button type="button" id="category" class="btn btn-primary mt-3 btn-lg tab-button">部門別
                            </button>
                            <button type="button" id="color" class="btn btn-primary mt-3 btn-lg tab-button">カラー別
                            </button>
                        </div>
                    </div>
                </div>

                <!--メイン表示エリア-->
                <div id="display-area" class="col-md-8">
                    <script th:inline="javascript">
                        const view = [[${view}]];
                        const baseDate = [[${baseDate}]];
                    </script>

                    <div id="ratio-ranking-area" class="card display-card">
                        <div class="card-header text-center">
                            <h3>店舗別 昨対比ランキング（月間）</h3>
                        </div>
                        <div class="card-body">
                            <div class="ranking-chart-scroll">
                                <div class="ranking-chart-container">
                                    <canvas id="ratioRankingChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="budget-ranking-area" class="card display-card">
                        <div class="card-header text-center">
                            <h3>店舗別 予算達成率ランキング（月間）</h3>
                        </div>
                        <div class="card-body">
                            <div class="ranking-chart-scroll">
                                <div class="ranking-chart-container">
                                    <canvas id="budgetRankingChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="sales-area" class="card display-card">
                        <div class="card-header text-center">
                            <h3>売上推移グラフ</h3>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <button type="button" class="previous-week btn btn-primary">
                                    ← 前の週
                                </button>
                                <span>
                                <span class="week-start" th:text="${currentWeekStart}"></span>
                                ～
                                <span class="week-end" th:text="${currentWeekEnd}"></span>
                            </span>
                                <button type="button"
                                        th:disabled="${!canGoNextWeek}" class="next-week btn btn-primary">
                                    次の週 →
                                </button>
                            </div>
                            <canvas id="salesTrendChart"></canvas>
                        </div>
                    </div>


                    <div id="category-area" class="card display-card">
                        <div class="card-header text-center">
                            <h3>部門別売上グラフ</h3>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <button type="button" class="previous-week btn btn-primary">
                                    ← 前の週
                                </button>
                                <span>
                                <span class="week-start" th:text="${currentWeekStart}"></span>
                                ～
                                <span class="week-end" th:text="${currentWeekEnd}"></span>
                            </span>
                                <button type="button"
                                        th:disabled="${!canGoNextWeek}" class="next-week btn btn-primary">
                                    次の週 →
                                </button>
                            </div>
                            <canvas id="categorySalesChart"></canvas>
                        </div>
                    </div>

                    <div id="color-area" class="card display-card">
                        <div class="card-header text-center">
                            <h3>カラー別売上グラフ</h3>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <button type="button" class="previous-week btn btn-primary">
                                    ← 前の週
                                </button>
                                <span>
                                <span class="week-start" th:text="${currentWeekStart}"></span>
                                ～
                                <span class="week-end" th:text="${currentWeekEnd}"></span>
                            </span>
                                <button type="button"
                                        th:disabled="${!canGoNextWeek}" class="next-week btn btn-primary">
                                    次の週 →
                                </button>
                            </div>
                            <canvas id="colorSalesChart"></canvas>
                        </div>
                    </div>
                </div>

                <!-- 予算・メモ表示エリア-->
                <div class="col-md-2">
                    <div id="sub-display-area" class="card p-3 h-100">
                        <div id="daily-target" class="mb-4">
                            <h5 class="text-center">本日の日割り予算</h5>
                            <span th:if="${dailyTarget != null}"
                                  th:text="${#numbers.formatInteger(dailyTarget, 1, 'COMMA') + '円'}"
                                  class="fs-3 d-block text-center"></span>
                            <span th:if="${dailyTarget == null}"
                                  class="fs-3 d-block text-center">-</span>
                        </div>
                        <div id="memo-area" class="mt-3">
                            <h5 class="text-center">本日のメモ一覧</h5>
                            <div class="memo-list">
                                <div th:each="memo : ${todayMemos}" class="card mb-2">
                                    <div class="card-body py-2">
                                        <span th:text="${#temporals.format(memo.createdAt, 'yyyy/MM/dd HH:mm')}"></span>
                                        <span th:text="${memo.comment}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>
<th:block th:replace="~{fragments/memo-modal :: memo-modal}"></th:block>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.1.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
<script src="/js/store-dashboard.js"></script>
<script src="/js/memo.js"></script>
</body>
</html>