<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header</title>
</head>
<body>
<header th:fragment="store-header" class="header navbar py-0">
    <div class="container-fluid">
        <a th:href="@{/main}" class="navbar-brand">
            <img th:src="@{/images/logo.png}" alt="TrendGauge">
        </a>

        <ul class="navbar-nav flex-row ms-4 gap-5 me-3">
            <li class="nav-item">
                <a class="nav-link fs-5" href="#">メモを残す</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/sales/new}" class="nav-link fs-5">日次報告作成</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/sales/import}" class="nav-link fs-5">CSVインポート</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" href="#">店長ログイン</a>
            </li>
        </ul>
    </div>
</header>

</body>
</html>